<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/master.css">
  </head>
  <body>
    <div class="d">
      {{> header}}
      <p>How can I help you?</p>
    </div>
  </body>
  {{> footer}}
</html>
