.d {
  border: 8px solid silver;
  text-align: center;
  color: white;
  height: 300px;
  width: 400px;
  margin: auto;
  background-color: blue;
  border-radius: 25%;
}

header p {
  display: inline-block;

}

header a {
  color: white;
  text-decoration: none;
}
